with_closed_ations_as________select_app_2018_X5_STORES.csv
with_closed_ations_as________select_app_2019_X5_STORES.csv
with_closed_ations_as________select_app_2020_X5_STORES.csv
all_data.csv
.ipynb_checkpoints
deps_metrics.csv
fb_metrics.csv
tth_metrics.csv
call_metrics.csv
call_metrics_not_zero.csv
regression_data_v1.csv
regression_data_v2.csv
regression_data_v3.csv
interview_metrics.csv
interview_metrics2.csv
regression_stages.csv
stages.csv
